.landing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: relative;
    width: 1440px;
    height: 1095px;
    background: #EEF3FE;
}